<footer class="footer"> 
	<div class="container">
		<div class="footer__inner">
			<div class="footer__socials socials">
				<a class="socials__item socials__item_tw" href="./"></a>
				<a class="socials__item socials__item_git" href="./"></a>
				<a class="socials__item socials__item_discord" href="./"></a>
			</div>
			<div class="footer__links links">
				<a class="links__item links__item_doc" href="./">Whitepaper</a>
				<a class="links__item links__item_grid" href="./">Launch App</a>
			</div>
			<a class="footer__logo" href="./"><img src="./images/ic-logo.svg" alt=""></a>
		</div>
	</div>
</footer> 
<!-- <script type="text/javascript" charset="utf-8" src="jquery.min.js"></script> -->
<script src="common.js"></script> 
</body> 
</html> 
