<header class="header"> 
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="./"><img src="./images/ic-logo.svg" alt=""></a>
			<div class="header__links links">
				<a class="links__item links__item_doc" href="./">Whitepaper</a>
				<a class="links__item links__item_grid" href="./">Launch App</a>
			</div>
			<div class="header__socials socials">
				<a class="socials__item socials__item_tw" href="./"></a>
				<a class="socials__item socials__item_git" href="./"></a>
				<a class="socials__item socials__item_discord" href="./"></a>
			</div>
		</div>
	</div>
</header>
