.hero {
	$self: &;
	margin-top: -115px;
	padding-bottom: 330px;
	background: url('#{$images-path}bg_cloud-bottom.png') right bottom / auto no-repeat transparent;
	
	@include media('<=sm') {
		background-position: right center;
	}
	
	@include media('<=xs') {
		margin-top: -190px;
	}
	
	@include media('<=xxxs') {
		padding: 50px 0 390px;
		margin-top: 0;
	}
	
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 100vh;
		
		@include media('<=xxxs') {
			min-height: 0;
		}
	}

	&__side {
		box-sizing: border-box;
		max-width: 560px;
		padding-right: 20px;
		width: 50%;

		@include media('<=sm') {
			width: 100%;
			padding: 0;
		}
	}
	
	&__title {
		margin-bottom: 30px;		
	}
	
	&__info {
		font-size: 24px;
		line-height: 1.5;
		margin-bottom: 30px;
	}
	
	&__buttons {
		display: flex;
		flex-wrap: wrap;
	}
	
	&__button {
		box-sizing: border-box;
		font-size: 24px;
		line-height: 1.2;
		text-decoration: none;
		color: inherit;
		padding: 30px 35px;
		white-space: nowrap;
		transition: background-color 0.3s ease, color 0.3s ease;
		min-width: 205px;
		margin-bottom: 20px;

		&:nth-child(1) {
			background-color: #fff;
			color: #050505;
			margin-right: 50px;

			&:hover {
				background-color: #2a2a2a;
				color: #fff;
			}
		}
		
		&:nth-child(2) {
			background-color: #2a2a2a;

			&:hover {
				background-color: #fff;
				color: #050505;
			}
		}
	}
	
	&__image {
		box-sizing: border-box;
		width: 50%;
		text-align: right;

		@include media('<=sm') {
			display: none;
		}
	}
}
